<!DOCTYPE html>
<html>
  <head>


<!-- <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li> -->



  <h1>SURF the WAVS</h1>

  <img src="landingpage.png" alt="landingpage.png"
style="background-repeat: no-repeat;
background-size: contain;
max-height: 100%;
max-width: 100%;
min-width: 1200px;">



</html>
